.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.button {
  display: inline-block;
  background: #c7d2e9;
  border-radius: 4px;
  color: #000;
  font-size: 2.2rem;
  padding: $s-xs $s-s;
  border: 2px solid #c7d2e9;
  transition: color 0.25s ease, background 0.25s ease;

  @media (prefers-reduced-motion) {
    transition: none;
  }

  &:not(span) {
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: $c-out;
    }

    &:hover {
      background: #0036f4;
      border-color: #0036f4;
      color: #fff;
    }
  }
}

.container {
  max-width: $w-content-max - ($s-xl * 2);
  padding: $s-xl;
  margin: 0 auto;
}

.cards-grid {
  max-width: $w-content-max - ($s-xl * 2);
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  > li {
    flex: 0 1 auto;
    width: 100%;
    padding: $s-xl;
    margin: 0;

    @media screen and (min-width: 48rem) {
      width: 50%;
    }

    @media screen and (min-width: 78rem) {
      width: 33.33%;
    }
  }
}

.text-link {
  color: #cc05ad;

  &:visited {
    color: #cc05ad;
  }

  &:hover {
    color: blue;
  }

  &:focus {
    outline: 2px solid blue;
  }
}
